<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">

	<select id="selectList" parameterType="map" resultType="NoticeDTO">
		select * from
		(select rownum R, N.* from
		(select * from notice 
		<if test="kind == 'title'">
			where title like '%'||#{search}||'%'
		</if>
		<if test="kind == 'writer'">
			where writer like '%'||#{search}||'%'
		</if>
		<if test="kind == 'contents'">
			where contents like '%'||#{search}||'%'
		</if>
		order by num desc) N)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<resultMap type="NoticeDTO" id="noticeResult">
		<id property="num" column="num"/>
		<collection property="fileNames" column="num" javaType="ArrayList" ofType="FileDTO" select="selectFile" />
	</resultMap>
	
	<select id="selectOne" parameterType="int" resultMap="noticeResult">
		select * from notice where num=#{num}
		<!-- select n.*, u.* from notice n, upload u where n.num=u.num and n.num=#{num} -->
	</select>
	
	<select id="selectFile" parameterType="int" resultType="FileDTO">
		select * from upload where num=#{num}
	</select>

	<insert id="insert" parameterType="NoticeDTO">
		<selectKey keyProperty="num" resultType="int" order="BEFORE">
			select board_seq.nextval from dual
		</selectKey>
		insert into notice values (#{num}, #{writer}, #{title}, #{contents}, sysdate, 0)
	</insert>

	<update id="update" parameterType="NoticeDTO">
		update notice set title=#{title}, contents=#{contents} where num=#{num}
	</update>
	
	<delete id="delete" parameterType="int">
		delete notice where num=#{num}
	</delete>
	
	<select id="totalCount" parameterType="map" resultType="int">
		select nvl(count(num), 0) from notice
		<if test="kind == 'title'">
			where title like '%'||#{search}||'%'
		</if>
		<if test="kind == 'writer'">
			where writer like '%'||#{search}||'%'
		</if>
		<if test="kind == 'contents'">
			where contents like '%'||#{search}||'%'
		</if>
	</select>
	
	<update id="hitUpdate" parameterType="int">
		update notice set hit=hit+1 where num=#{num}
	</update>
	
	<select id="getNum" resultType="int">
		select board_seq.nextval from dual
	</select>
	
</mapper>