<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaMapper">
	<select id="selectList" parameterType="map" resultType="QnaDTO">
		select * from
		(select rownum R, Q.* from
		(select * from qna
		<if test="kind == 'title'">
			where title like '%'||#{search}||'%'
		</if>
		<if test="kind == 'writer'">
			where writer like '%'||#{search}||'%'
		</if>
		<if test="kind == 'contents'">
			where contents like '%'||#{search}||'%'
		</if>
		order by num desc, step asc) Q)
		where R between #{startRow} and #{lastRow} 
	</select>
	
	<resultMap type="QnaDTO" id="Result">
		<id property="num" column="num"/>
		<result property="writer" column="writer"/>
		<result property="title" column="title"/>
		<result property="contents" column="contents"/>
		<result property="reg_date" column="reg_date"/>
		<result property="hit" column="hit"/>
		<collection property="fileNames" javaType="ArrayList" ofType="FileDTO">
			<id property="fnum" column="fnum"/>
			<result property="num" column="num"/>
			<result property="fname" column="fname"/>
			<result property="oname" column="oname"/>
		</collection>
	</resultMap>
	
	<select id="selectOne" parameterType="int" resultMap="Result">
		<!-- select * from qna where num=#{num} -->
		select q.*, u.* from qna q, upload u where q.num=u.num and q.num=#{num}
	</select>
	
	<insert id="insert" parameterType="QnaDTO">
		insert into qna values (board_seq.nextval, #{title}, #{writer}, #{contents}, sysdate, 0, board_seq.currval, 0, 0)
	</insert>
	
	<update id="update" parameterType="QnaDTO">
		update qna set title=#{title}, contents=#{contents} where num=#{num}
	</update>
	
	<delete id="delete" parameterType="int">
		delete qna where num=#{num}
	</delete>
	
	<update id="hitUpdate" parameterType="int">
		update qna set hit=hit+1 where num=#{num}
	</update>
	
	<select id="totalCount" resultType="int">
		select nvl(count(num), 0) from qna
		<if test="kind == 'title'">
			where title like '%'||#{search}||'%'
		</if>
		<if test="kind == 'writer'">
			where writer like '%'||#{search}||'%'
		</if>
		<if test="kind == 'contents'">
			where contents like '%'||#{search}||'%'
		</if>
	</select>
	
	<select id="getNum" resultType="int">
		select board_seq.nextval from dual 
	</select>
	
	<update id="stepUpdate" parameterType="QnaDTO">
		<![CDATA[update qna set step=step+1 where ref=#{ref} and step>#{step}]]>
	</update>
	
	<insert id="reply" parameterType="QnaDTO">
		insert into qna values (board_seq.nextval, #{title}, #{writer}, #{contents}, sysdate, 0, #{ref}, #{step}+1, #{depth}+1)
	</insert>
	
</mapper>
